# 忽略 CMake 构建目录
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# 编译结果
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.out

# Qt Creator 配置文件
*.user
*.autosave
*.pro.user*

# macOS 和 Windows 系统文件
.DS_Store
Thumbs.db

# VSCode 配置文件（可选）
.vscode/
